<a href="https://colab.research.google.com/github/navyadevineni/Bigdata-PyFlink/blob/main/corelation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
dataframe_netflix_titles.corr()

               show_id  release_year
show_id       1.000000      0.566577
release_year  0.566577      1.000000